.App {
  text-align: center;
}

.memo-greeting {
  border: solid 5px;
  padding: 10px;
  margin: 17px;
  width: 33%;
  text-align: center;
  border-radius: 15px;
}

.memo-greeting button{
  width: 40%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
